In [1]:
#for loop
for x in range(2, -2, -1):
    print(x)

2
1
0
-1

In [26]:
#list
def list_elements(list_name, movie):
    return "The " + list_name + " list includes: " + ", ".join(movie)
print(list_elements("movies", ["sci fi", "Black and White", "comedy"]))

The movies list includes: sci fi, Black and White, comedy

In [7]:
mylist= ["hello","I'm", "nisreen"]
type(mylist)

list

In [11]:
mylist[0:2]

['hello', "I'm"]

In [12]:
numbers=[1,2,3,4,5,6,7,8]
for num in numbers:
    if(num%2==0):
        result="{} is even".format(num)+"\n"
        print(result)
    else:
        result2="{} is odd".format(num)+"\n"
        print(result2)

1 is odd

2 is even

3 is odd

4 is even

5 is odd

6 is even

7 is odd

8 is even

In [16]:
updated_years = []
years = ["January 2023", "May 2025", "April 2023", "August 2024", "September 2025", "December 2023"]
for year in years:
    if year.endswith("2023"):
        new = year.replace("2023","2024")
        updated_years.append(new)
    else:
        updated_years.append(year)
print(updated_years)

['January 2024', 'May 2025', 'April 2024', 'August 2024', 'September 2025', 'December 2024']

In [23]:
def order_numbers(number1, number2):
    if number2 > number1:
        return number1, number2
    else:
        return number2, number1
smaller, bigger = order_numbers(96, 83)
print(smaller, bigger)

83 96

In [29]:
def multiplication_table(number):
    multiplier = 1
    while multiplier<=6:
        result = number * multiplier 
        if  result > 45 :
            break
        print(str(number) + "x" + str(multiplier) + "=" + str(result))
        multiplier += 1
multiplication_table(6) 
multiplication_table(9)

6x1=6
6x2=12
6x3=18
6x4=24
6x5=30
6x6=36
9x1=9
9x2=18
9x3=27
9x4=36
9x5=45

In [38]:
#dictionary
def link_list(websites):
    links = []
    for website, users in websites.items():
      for user in users:
        links.append(website+"/"+user)
    return(links)

print(link_list({"github": ["nisreen.bouta", "roula", "nada"], "kaggle": ["mohamed", "nisreen"], "linkedin": ["alex","max"]}))

['github/nisreen.bouta', 'github/roula', 'github/nada', 'kaggle/mohamed', 'kaggle/nisreen', 'linkedin/alex', 'linkedin/max']

In [48]:
fruits={"apple": ["red", "green","yellow"], "watermelon": ["red", "yellow"], "banana": ["yellow"]}
fruits.keys()

dict_keys(['apple', 'watermelon', 'banana'])

In [49]:
fruits.values()

dict_values([['red', 'green', 'yellow'], ['red', 'yellow'], ['yellow']])

In [50]:
fruits.items()

dict_items([('apple', ['red', 'green', 'yellow']), ('watermelon', ['red', 'yellow']), ('banana', ['yellow'])])

In [51]:
fruits["banana"].append("green")

In [52]:
fruits.items()

dict_items([('apple', ['red', 'green', 'yellow']), ('watermelon', ['red', 'yellow']), ('banana', ['yellow', 'green'])])