In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from plotly.offline import iplot
import plotly.graph_objs as go

In [2]:
!pip install --upgrade plotly

Requirement already satisfied: plotly in c:\users\nisreen\anaconda3\lib\site-packages (5.13.1)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\nisreen\anaconda3\lib\site-packages (from plotly) (8.0.1)

In [3]:
!pip install jupyter-dash

Collecting jupyter-dash
  Downloading jupyter_dash-0.4.2-py3-none-any.whl (23 kB)
Requirement already satisfied: ipykernel in c:\users\nisreen\anaconda3\lib\site-packages (from jupyter-dash) (6.15.2)
Requirement already satisfied: nest-asyncio in c:\users\nisreen\anaconda3\lib\site-packages (from jupyter-dash) (1.5.5)
Collecting retrying
  Downloading retrying-1.3.4-py3-none-any.whl (11 kB)
Collecting dash
  Downloading dash-2.9.0-py3-none-any.whl (10.2 MB)
     -------------------------------------- 10.2/10.2 MB 190.3 kB/s eta 0:00:00
Requirement already satisfied: requests in c:\users\nisreen\anaconda3\lib\site-packages (from jupyter-dash) (2.28.1)
Requirement already satisfied: flask in c:\users\nisreen\anaconda3\lib\site-packages (from jupyter-dash) (1.1.2)
Collecting ansi2html
  Downloading ansi2html-1.8.0-py3-none-any.whl (16 kB)
Requirement already satisfied: ipython in c:\users\nisreen\anaconda3\lib\site-packages (from jupyter-dash) (7.31.1)
Collecting dash-table==5.0.0
  Downloading dash_table-5.0.0-py3-none-any.whl (3.9 kB)
Collecting dash-core-components==2.0.0
  Downloading dash_core_components-2.0.0-py3-none-any.whl (3.8 kB)
Requirement already satisfied: plotly>=5.0.0 in c:\users\nisreen\anaconda3\lib\site-packages (from dash->jupyter-dash) (5.13.1)
Collecting dash-html-components==2.0.0
  Downloading dash_html_components-2.0.0-py3-none-any.whl (4.1 kB)
Requirement already satisfied: click>=5.1 in c:\users\nisreen\anaconda3\lib\site-packages (from flask->jupyter-dash) (8.0.4)
Requirement already satisfied: Werkzeug>=0.15 in c:\users\nisreen\anaconda3\lib\site-packages (from flask->jupyter-dash) (2.0.3)
Requirement already satisfied: itsdangerous>=0.24 in c:\users\nisreen\anaconda3\lib\site-packages (from flask->jupyter-dash) (2.0.1)
Requirement already satisfied: Jinja2>=2.10.1 in c:\users\nisreen\anaconda3\lib\site-packages (from flask->jupyter-dash) (2.11.3)
Requirement already satisfied: tornado>=6.1 in c:\users\nisreen\anaconda3\lib\site-packages (from ipykernel->jupyter-dash) (6.1)
Requirement already satisfied: traitlets>=5.1.0 in c:\users\nisreen\anaconda3\lib\site-packages (from ipykernel->jupyter-dash) (5.1.1)
Requirement already satisfied: pyzmq>=17 in c:\users\nisreen\anaconda3\lib\site-packages (from ipykernel->jupyter-dash) (23.2.0)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\users\nisreen\anaconda3\lib\site-packages (from ipykernel->jupyter-dash) (7.3.4)
Requirement already satisfied: psutil in c:\users\nisreen\anaconda3\lib\site-packages (from ipykernel->jupyter-dash) (5.9.0)
Requirement already satisfied: matplotlib-inline>=0.1 in c:\users\nisreen\anaconda3\lib\site-packages (from ipykernel->jupyter-dash) (0.1.6)
Requirement already satisfied: packaging in c:\users\nisreen\anaconda3\lib\site-packages (from ipykernel->jupyter-dash) (21.3)
Requirement already satisfied: debugpy>=1.0 in c:\users\nisreen\anaconda3\lib\site-packages (from ipykernel->jupyter-dash) (1.5.1)
Requirement already satisfied: decorator in c:\users\nisreen\anaconda3\lib\site-packages (from ipython->jupyter-dash) (5.1.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\nisreen\anaconda3\lib\site-packages (from ipython->jupyter-dash) (63.4.1)
Requirement already satisfied: pygments in c:\users\nisreen\anaconda3\lib\site-packages (from ipython->jupyter-dash) (2.11.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\nisreen\anaconda3\lib\site-packages (from ipython->jupyter-dash) (3.0.20)
Requirement already satisfied: jedi>=0.16 in c:\users\nisreen\anaconda3\lib\site-packages (from ipython->jupyter-dash) (0.18.1)
Requirement already satisfied: pickleshare in c:\users\nisreen\anaconda3\lib\site-packages (from ipython->jupyter-dash) (0.7.5)
Requirement already satisfied: backcall in c:\users\nisreen\anaconda3\lib\site-packages (from ipython->jupyter-dash) (0.2.0)
Requirement already satisfied: colorama in c:\users\nisreen\anaconda3\lib\site-packages (from ipython->jupyter-dash) (0.4.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\nisreen\anaconda3\lib\site-packages (from requests->jupyter-dash) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in c:\users\nisreen\anaconda3\lib\site-packages (from requests->jupyter-dash) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\nisreen\anaconda3\lib\site-packages (from requests->jupyter-dash) (2022.9.14)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\nisreen\anaconda3\lib\site-packages (from requests->jupyter-dash) (2.0.4)
Requirement already satisfied: six>=1.7.0 in c:\users\nisreen\anaconda3\lib\site-packages (from retrying->jupyter-dash) (1.16.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\nisreen\anaconda3\lib\site-packages (from jedi>=0.16->ipython->jupyter-dash) (0.8.3)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\nisreen\anaconda3\lib\site-packages (from Jinja2>=2.10.1->flask->jupyter-dash) (2.0.1)
Requirement already satisfied: entrypoints in c:\users\nisreen\anaconda3\lib\site-packages (from jupyter-client>=6.1.12->ipykernel->jupyter-dash) (0.4)
Requirement already satisfied: jupyter-core>=4.9.2 in c:\users\nisreen\anaconda3\lib\site-packages (from jupyter-client>=6.1.12->ipykernel->jupyter-dash) (4.11.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\nisreen\anaconda3\lib\site-packages (from jupyter-client>=6.1.12->ipykernel->jupyter-dash) (2.8.2)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\nisreen\anaconda3\lib\site-packages (from plotly>=5.0.0->dash->jupyter-dash) (8.0.1)
Requirement already satisfied: wcwidth in c:\users\nisreen\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->jupyter-dash) (0.2.5)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\nisreen\anaconda3\lib\site-packages (from packaging->ipykernel->jupyter-dash) (3.0.9)
Requirement already satisfied: pywin32>=1.0 in c:\users\nisreen\anaconda3\lib\site-packages (from jupyter-core>=4.9.2->jupyter-client>=6.1.12->ipykernel->jupyter-dash) (302)
Installing collected packages: dash-table, dash-html-components, dash-core-components, retrying, ansi2html, dash, jupyter-dash
Successfully installed ansi2html-1.8.0 dash-2.9.0 dash-core-components-2.0.0 dash-html-components-2.0.0 dash-table-5.0.0 jupyter-dash-0.4.2 retrying-1.3.4

In [7]:
employment_data = pd.read_csv("e:/Nisreen/Desktop/machine learning/employment.csv")

In [8]:
employment_data.head()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,BDCQ.SEA1AA,2011.06,80078.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
1,BDCQ.SEA1AA,2011.09,78324.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
2,BDCQ.SEA1AA,2011.12,85850.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
3,BDCQ.SEA1AA,2012.03,90743.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
4,BDCQ.SEA1AA,2012.06,81780.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN

In [9]:
df201106 = employment_data[employment_data.Period == 2011.06].iloc[:100,:]
df2012 = employment_data[employment_data.Period == 2012.06].iloc[:100,:]
df201106

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,BDCQ.SEA1AA,2011.06,80078.000000,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
46,BDCQ.SEA1AS,2011.06,83971.000000,NaN,R,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Seasonally adjusted,NaN,NaN
92,BDCQ.SEA1AT,2011.06,NaN,NaN,C,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Trend,NaN,NaN
138,BDCQ.SEA1BA,2011.06,5234.000000,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,Mining,Actual,NaN,NaN
184,BDCQ.SEA1BS,2011.06,5234.000000,NaN,R,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,Mining,Seasonally adjusted,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4209,BDCQ.SEA2LT,2011.06,NaN,Y,C,Value,6,Business Data Collection - BDC,Industry by employment variable,Total earnings,"Rental, Hiring and Real Estate Services",Trend,NaN,NaN
4248,BDCQ.SEA2MA,2011.06,1825.050000,NaN,F,Value,6,Business Data Collection - BDC,Industry by employment variable,Total earnings,"Professional, Scientific and Technical Services",Actual,NaN,NaN
4294,BDCQ.SEA2MS,2011.06,NaN,Y,R,Value,6,Business Data Collection - BDC,Industry by employment variable,Total earnings,"Professional, Scientific and Technical Services",Seasonally adjusted,NaN,NaN
4333,BDCQ.SEA2MT,2011.06,NaN,Y,C,Value,6,Business Data Collection - BDC,Industry by employment variable,Total earnings,"Professional, Scientific and Technical Services",Trend,NaN,NaN
4372,BDCQ.SEA2NA,2011.06,732.283854,NaN,F,Value,6,Business Data Collection - BDC,Industry by employment variable,Total earnings,Administrative and Support Services,Actual,NaN,NaN

In [16]:
trace1= go.scatter3d(
x=df2011.Data_value,
y= df2011.STATUS,
mode ="markers", name="2011.06",marker= dict(color ='rgb(255,128,2,0.8)'), text=df201106.Subject

)

trace2 go.scatter3d(
x=df2012Data_value,
y= df2012.STATUS,
mode="markers",name="2012", marker=dict(color='rgba(255,128,2,0.8'), text=df2012.Subject

)

data=[trace1, trace2]
layout =dict(title='STATUS + Data_value'
xaxis= dict(title="STATUS", ticklen=5,zeroline=False),
yaxis=dict(title="Data_value",ticklen=5,zeroline=False)
            )

fig=dict(data=data, layout =layout)
iplot(fig)

SyntaxError: invalid syntax (1954964349.py, line 8)

In [19]:
timesData=pd.read_csv("e:/Nisreen/Desktop/machine learning/timesdata.csv")

In [21]:
timesData.head()

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,"2,243",6.9,27%,33 : 67,2011
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,"11,074",9.0,33%,37 : 63,2011
3,4,Stanford University,United States of America,98.3,29.5,98.1,99.2,64.3,94.3,"15,596",7.8,22%,42 : 58,2011
4,5,Princeton University,United States of America,90.9,70.3,95.4,99.9,-,94.2,"7,929",8.4,27%,45 : 55,2011

In [22]:
df2012 = timesData[timesData.year == 2012].iloc[:100,:] 
df2013 = timesData[timesData.year == 2013].iloc[:100,:] 
df2014 = timesData[timesData.year == 2014].iloc[:100,:]

In [24]:

trace1 =go.Scatter( 
                    x = df2012.num_students, 
                    y = df2012.citations,  
                    mode = "markers",     
                    name = "2012",      
                    marker = dict(color = 'rgba(255, 128, 255, 0.8)'), 
                    text= df2012.university_name)  


trace2 =go.Scatter(
                    x = df2013.num_students, 
                    y = df2013.citations,  
                    mode = "markers",      
                    name = "2013",         
                    marker = dict(color = 'rgba(255, 128, 2, 0.8)'), 
                    text= df2013.university_name)  


trace3 =go.Scatter(
                    x = df2014.num_students, 
                    y = df2014.citations,  
                    mode = "markers",     
                    name = "2014",        
                    marker = dict(color = 'rgba(0, 255, 200, 0.8)'), 
                    text= df2014.university_name) 

data = [trace1, trace2, trace3] 
layout = dict(title = 'Citation vs number of students top 100 universities with 2012, 2013 and 2014 years',
              xaxis= dict(title= 'num of students',ticklen= 5,zeroline= False),
              yaxis= dict(title= 'Citation',ticklen= 5,zeroline= False)  
             )
fig = dict(data = data, layout = layout)  
iplot(fig)